<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Dan Zera · Web Developer" %></title>

		<!-- CSS IMPORTS -->
		<!-- Materialize CSS and Material Icons Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Custom CSS -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <%= csrf_meta_tag() %>
  </head>
  <body>
		<!-- NAV BAR -->
		<nav class="white" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="/" class="brand-logo"><i class="material-icons">home</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/about">About</a></li>
				</ul>

				<ul id="nav-mobile" class="sidenav">
					<li><a href="/about">About</a></li>
				</ul>
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			</div>
		</nav>

    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

			<%# this line of code renders individual template files into the layout before the HTML is sent off to the browser %>
      <%= render @view_module, @view_template, assigns %>

    </main>

		<footer class="page-footer teal">
			<div class="footer-copyright">
				<div class="container">
					<span>COPYRIGHT </span><i class="material-icons">copyright</i><span> DAN ZERA 2020 | ALL RIGHTS RESERVED</span>
				</div>
			</div>
		</footer>

		<!-- SCRIPTS-->
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- Materialize JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<!-- Custom Scripts-->
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
